@model Contact
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<h1>Contact Detail</h1>
<ul style="list-style-type:none">
    <li style="font-size:30px;text-align:center">
        Contact Id - @Model.Id
    </li>
    <li style="font-size:30px;text-align:center">
        Contact Name - @Model.Name
    </li>
    <li style="font-size:30px;text-align:center">
        Contact Number - @Model.Number
    </li>
    <li style="font-size:30px;text-align:center">
        Contact Message:
        <p>@Model.Content</p>
    </li>
</ul>
<a class="btn btn-outline-danger" asp-action="Index">Go back</a>

