
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about-page">
    <div class="backgro_mh">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heding">
                        <h2>About Mucisman</h2>
                        <ul class="page-title">
                            <li><a href="index.html"><span> Home · </span></a></li>
                            <li><span> About </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about  -->
    <div id="about" class="about">
        <div class="container">
            <div class="row display_boxflex">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <h2 class="about-title">About Us</h2>
                        <p>
                            Music has an amazing ability to tell a story, express emotions and bring people together. Our website
                            is
                            designed to share this power of music with everyone. Here you will find a wide range of genres, from
                            classical music to modern hits, from national melodies to music of various cultures. We strive to create
                            a
                            communicative community where music is a language that everyone understands. On our website, you can
                            discuss and share your favorite songs, artists and albums with other members. We believe that music can
                            strengthen our bonds, regardless of cultural or geographical differences.
                        </p>
                        <a class="btn-redirect" href="events.html">Watch Events!</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box">
                        <figure><img src="images/about.png" alt="#" /></figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->
</section>

<section id="admins">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="display-5 mb-5 text-black">Administrators</h2>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <img src="images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                <h2 class="text-black font-weight-light mb-4">Elnur Azizov</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est
                    odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?
                </p>
                <ul class="social_link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>

            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                <h2 class="text-black font-weight-light mb-4">Yasin Veliyev</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est
                    odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?
                </p>
                <ul class="social_link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
                <img src="images/person_4.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
                <h2 class="text-black font-weight-light mb-4">Alsu Alimzanova</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ab quas facilis obcaecati non ea, est
                    odit repellat distinctio incidunt, quia aliquam eveniet quod deleniti impedit sapiente atque tenetur porro?
                </p>
                <ul class="social_link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

